{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
    <div class="bgimg">
        <div class="container cart">
            <div class="row">
                <div class="col-md-12">
                    <div class="card text-center">
                        <div class="card-header">
                            <h5 class="card-title">Voici ton panier</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-title pb-3">Special title treatmecial title treatm ecial title treatm ent</p>
                            <table class="table pt-5">
                                <thead class="text-info">
                                <tr>
                                    <td>Produit</td>
                                    <td>Prix</td>
                                    <td>Quantité</td>
                                    <td>Total</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% if items | length > 0 %}
                                {% for item in items %}
                                    <tr>
                                        <td>{{ item.product.name }}</td>
                                        <td>{{ item.product.price }} $</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.quantity*item.product.price }} $</td>
                                        <td><a href="{{ path('cart.remove', {'id':item.product.id}) }}"
                                               class="btn btn-outline-danger btn-sm">Retirer</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td>Total :</td>
                                    <td>{{ total }} $</td>
                                </tr>
                                <tr>
                                    <td><a href="{{ path('ordering') }}" class="btn btn-success">Commander</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" class="btn btn-success">Commander sans inscription</a></td>
                                </tr>
                                <tr>
                                    <td class="pt-5"><a href="{{ path('product.list') }}" class="btn btn-info">Continue
                                            shopping</a></td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td>Surprise, c'est vide !</td>
                                    <td><a href="{{ path('product.list') }}" class="btn btn-info">Continue shopping</a>
                                    </td>
                                    {% endif %}</tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
