{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}

    <div class="bgimg">
        <div class="container cart">
            <div class="card text-center">
                <div class="card-header">
                    <h5 class="card-title">Livraison et paiement</h5>
                </div>
                <div class="card-body">

                    <p>{{ ordering.users.username }}, voici ta commande n° {{ ordering.id }}
                        du {{ ordering.orderDate| date('d/m/Y') }}</p>


                    <table class="table pt-5">
                        <thead class="table-primary">
                        <tr>
{#                            <td>Image</td>#}
                            <td>Produit</td>
                            <td>Prix</td>
                            <td>Quantité</td>
                            <td>Total</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% if items | length > 0 %}
                        {% for item in items %}
                            <tr>

{#                                <td><img class="img-thumbnail" src="{{ item.product.imageFile }}" alt="card-img-top" style="width:50%;height:auto;"></td>#}
                                <td>{{ item.product.name }} <a href="#"><i> détails ...</i></a></td>
                                <td>{{ item.product.price }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.product.price*item.quantity }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td class="p-4"></td>
                        </tr>
                        <tr>
                            <td>Total :</td>
                            <td colspan="3">{{ total }}</td>
                        </tr>
                        <tr>
                            <td>Livraisons :</td>
                            <td colspan="3">10.25 <a href="#"><i>modifier...</i></a></td>
                        </tr>
                        <tr>
                            <td>TVA :</td>
                            <td colspan="3">19.20</td>
                        </tr>
                        <tr class="table-primary">
                            <td>Total à payer :</td>
                            <td colspan="3">{{ total +10.25 + 19.20 }}</td>
                        </tr>
                        <tr>
                            <td class="pt-5"><a href="{{ path('payment',{'id':ordering.id}) }}" class="btn btn-success">Payer</a>
                                <a href="#" class="btn btn-success">Annuler la commande</a>
                                <a href="#" class="btn btn-outline-primary">Sauvegarder la commande</a></td>
                        </tr>


                        {% else %}
                        <tr>
                            <td>Le panier est vide</td>
                            <td><a href="{{ path('product.list') }}" class="btn btn-info">Continue shopping</a></td>
                            {% endif %}</tr>
                        </tfoot>
                    </table>

                </div>
            </div>

        </div>

    </div>
{% endblock %}
