{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}

    <div class="bgimg">
        <div class="container cart">
            <div class="card text-center">
                <div class="card-header">
                    <h5 class="card-title">Livraison et paiement</h5>
                </div>
                <div class="card-body">
                    <p class="card-title">{{ ordering.users.username }} - {{ ordering.id }} - {{ ordering.orderDate| date('d/m/Y a H:i') }}- {{ ordering.reference }}</p>
                    <table class="table pt-5">
                        <thead>
                        <tr>
                            <td>Produit</td>
                            <td>Prix</td>
                            <td>Quantité</td>
                            <td>Total</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% if items | length > 0 %}
                        {% for item in items %}
                            <tr>
                                <td>{{ item.product.name }}</td>
                                <td>{{ item.product.price }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.product.price*item.quantity }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3">Total :</td>
                            <td>{{ total }}</td>
                            <td><a href="{{ path('payment',{'id':ordering.id}) }}" class="btn btn-success">Payer</a></td>
                        </tr>

                        {% else %}
                        <tr>
                            <td>Le panier est vide</td>
                            <td><a href="#" class="btn btn-info">Continue shopping</a></td>
                        </tr>
                        </tfoot>
                    </table>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>
{% endblock %}
