{% extends 'base.html.twig' %}
{% block title %}Products
{% endblock %}
{% block stylesheets %}
{#    <link href="assets/product.css" rel="stylesheet">#}
{% endblock %}
{% block body %}
<header>
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="1500">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="2000">
                <img src="{{ asset('uploads/images/products/5de94b5fe3c77083865851.jpg') }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="{{ asset('uploads/files/webdesign-3411373_1920.jpg') }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="{{ asset('uploads/files/network-2402637_1280.jpg') }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>
    <div class="text-center bgimg">
    <div class="jumbotron pb-4">
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-2">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    </div>
        <div class="container mb-4 lastProducts">
        <div class="card text-center">
            <div class="card-header text-light">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">Last products</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-light">
                2 days ago
            </div>
        </div>
        </div>
    <div class="container pb-5">
            <section>
                <div class="card-deck text-center">
            {% for product in products %}
                <div class="col-12 col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title text-dark">
                                {{ product.name }}
                            </h5>
                            <p class="card-text">
                                {% if product.image %}
                                    <img class="img-fluid" src="{{ vich_uploader_asset(product, 'imageFile')}}" alt=""
                                         >
                                {% else %}
                                    <img class="img-fluid" src="{{ '/uploads/images/products/empty.jpg'}}" alt=""
                                         >
                                {% endif %}
                            </p>
                            <p class="card-title text-primary">Description</p>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-title text-primary">Prix</p>
                            <p class="text-warning" style="font-weight: bold;">{{ product.price | number_format(2,',',' ') }} $</p>
                            <p class="card-title text-primary">Categorie</p>
                            <p class="card-text text-secondary">{{ product.category }}</p>
                            <p class="card-text">on {{ product.createdAt | date('d/m/Y a H:i') }}</p>
                            <a class="btn btn-outline-info" href="{{ path('product.show', {id:product.id, slug:product.slug}) }}">Détails</a>
                            <a href="{{ path('cart.add',{'id': product.id}) }}" class="btn btn-outline-info">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
                </div>
            </section>
        <div class="container align-center mb-5">
            <a href="{{ path('product.list') }}" class="btn btn-info btn-lg">Voir le catalogue</a>
        </div>
    </div>
        <!--        Last section-->
        <section>
            <div class="contentSection p-5">
                <div class="row">
                    <div class="col-12 col-md-4 mb-5">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-info">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-5">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-info">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-5">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-info">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    {% endblock %}
