<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="" content="">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link href="/assets/product.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css">
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand ml-2" href="/">WebShop</a>
        <a href="#" class="nav-link text-success">{{ app.user.username ?? 'Viste anonyme' }}</a>
        {% if not app.user %}
            <a class="nav-link text-secondary" href="{{ path('login') }}">Connexion</a>
        {% else %}
            <a href="{{ path('logout') }}" class="btn btn-outline-secondary btn-sm">Se
                deconnecter</a>
        {% endif %}
        <ul class="navbar-nav mt-2 mt-lg-0 ml-auto">
            <li>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Rechercher sur le site ..." size="50">
            <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit">Chercher</button>
        </form>
            </li>
        </ul>
        <ul class="navbar-nav mt-2 mt-lg-0 ml-auto">

            <li class="nav-item">
                <a class="nav-link" href="{{ path('product') }}">Nouveautés</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('product.list') }}">Catalogue</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('cart') }}">Panier</a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('profile') }}">Mon compte</a>
                </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li>
                    {% if not app.user %}
                        <a class="nav-link" href="{{ path('security_registration') }}">inscription
                        </a>
                    {% endif %}
                </li>

{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="/admin">Admin</a>#}
{#                </li>#}
            </ul>

        </form>
    </div>
</nav>

{% block body %}{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{#<script src="{{ asset('build/app.js') }}" type="text/javascript"></script>#}
{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
{% include('includes/_footer.html.twig') %}
</body>
</html>
